/* Estilos globales */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f2f2f2;
}

main {
    height: 100%;
    width: 100%;
}

/* Menú principal */

nav {
    box-shadow: 0 2px 10px black;
    position: fixed;
    text-align: center;
    width: 100%;
}

nav a {
    color: #2e2e2e;
    font-weight: bold;
    text-decoration: none;
}

nav > ul {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

nav > ul > li {
    display: inline-block;
    padding: 18px;
}

nav > ul > li:hover {
    background-color: black;
    opacity: 0.5;
}

nav li:hover a {
    color: white;
}

/* Introduccion */

.introduccion {
    background-repeat: no-repeat;
}

.introduccion {
    padding: 70px 30px;
    text-align: center;
    background-color: green;
    background-image: url(../img/fondo-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#introduccion > img {
    border-radius: 50%; /* Borde redondeado */
    height: 180px;
    width: 250px;
}

.introduccion i {
    color: white;
}

/* Biografia */

.biografia {
    padding: 70px 30px;
    text-align: center;
}

/* Conocimientos */

.conocimientos {
    background-color: white;
    padding: 70px 30px;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;
}

table td {
    width: 33.3%;
    float: left;
}

.lenguajes {
    font-size: 60px;
}

.otros {
    font-size: 80px;
}

/* Contacto */

.contacto {
    height: 450px;
    padding: 30px 10px;
    text-align: center;
    background-color: #353535;
    color: white;
}