/* colors */
:root {
    --darkest-grey: #222831;
    --grey        : #393e46;
    --orange      : #d65a31;
    --light       : #eeeeee;
}

.bd-placeholder-img {
    font-size          : 1.125rem;
    text-anchor        : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.ml {
    background-color: yellow;
}

.dl {
    background-color: blue;
}

/* Dark theme palette */
.darkest-grey-block {
    background-color: var(--darkest-grey);
}

.grey-block {
    background-color: var(--grey);
}

.light-block {
    background-color: var(--light);
}

.orange-text {
    color: var(--orange);
}

.light-text {
    color: var(--light);
}
/*-------------*/

.flask-logo {
    background-color: #E3E3E3;
}
