.bd-placeholder-img {
    font-size          : 1.125rem;
    text-anchor        : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.icon-large {
    font-size: 60px;
}

.ml, .dl {
    font-size: 40px;
}

.ml {
    background-color: yellow;
}

.dl {
    background-color: blue;
}

/* Dark theme palette */
.darkest-block {
    background-color: #222831!important;
}

.dark-block {
    background-color: #393e46!important;
}

.light-block {
    background-color: #eeeeee!important;
}

.title-color {
    color: #d65a31!important;
}

.text-color {
    color: #eeeeee!important;
}
/*-------------*/
